{% extends 'base.html' %}

{% block title %}- About Us! {% endblock %}

{% block pagecontent %}
<h1>About Us</h1>
	
<p>
<b>Dr. Christine Johnson</b>
</p>

<p>
She is a behavioral ecologist, who was kind enough to share her specimens and data with us.
</p>

<p>
<b>Erika Saur and Yohely Comprés</b>
</p>
	
<p>
Two cool gals in the BridgeUP:STEM program. They wrote the code for these pages. (๑ •̀ ᴗ •́ ๑)૭✧
</p>

<p>
<b>Dr. De la Peña</b>
</p>

<p>
Our supervisor and mentor for our project.
</p>

{% endblock %}
