{% extends 'base.html' %}

{% block title %}[Coral Common Name]{% endblock %}

{% block pagecontent %}
<h1>Common Name
<br><i>Genus species</i></h1>
<p>
Warm or Cold water
<br>Stony or Soft
<br>Wall or Branching
</p>

<p>
<b>Description</b>
<br>Color: []
<br>Size: []
</p>

<p>
Extinct
<!--bold whichever it is-->
<br>Extinct in the Wild
<br>Critical
<br>Endangered
<br>Vulnerable
<br>Not Threatened
<br>Least Concern
</p>

<p>
Kingdom  |  Animalia
<br>Phylum   |  Cnidaria
<br>Class    |  Anthozoa
<br>Subclass |  [Hexacoralia]
<br>Order    |  [Scleractonia]
<br>Family   |  [Acroporidae]
<br>Genus    |  [Acropora]
<br>Species  |  [prolifera]
</p>

	{% endblock %}
